# Homework 4

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setup" data-toc-modified-id="Setup-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setup</a></span></li><li><span><a href="#COM-position-and-velocity" data-toc-modified-id="COM-position-and-velocity-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>COM position and velocity</a></span></li><li><span><a href="#Relative-position-and-velocity" data-toc-modified-id="Relative-position-and-velocity-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Relative position and velocity</a></span></li></ul></div>

## Setup

In [1]:
# import modules
import numpy as np
from numpy.linalg import norm
import astropy.units as u
from astropy.table import QTable
from astropy.io import ascii

from galaxy.galaxies import Galaxies

Get data for all three galaxies:

In [2]:
gals = Galaxies()

## COM position and velocity

The Galaxies class will import and manipulate the CenterOfMass class. We don't need to deal with the latter directly here.

In [3]:
# all galaxies, just disk particles
COMs = gals.get_coms(ptypes=(2,))
COMs

<QTable length=3>
  name  ptype    x       y       z       vx      vy      vz      R       V
                kpc     kpc     kpc    km / s  km / s  km / s   kpc    km / s
  str7   str4 float64 float64 float64 float64 float64 float64 float64 float64
------- ----- ------- ------- ------- ------- ------- ------- ------- -------
 MW_000  disk   -2.07    2.95   -1.45    0.94    6.32   -1.35    3.88    6.53
M31_000  disk -377.66  611.43 -284.64   72.85  -72.14    49.0  772.98  113.63
M33_000  disk -476.22  491.44  -412.4   44.42  101.78  142.23  798.98  180.45

Exporting the QTable as $\LaTeX$ saves retyping and likely reduces typos, though it will need some formatting changes:

In [4]:
ascii.write(COMs, format='latex')

\begin{table}
\begin{tabular}{cccccccccc}
name & ptype & x & y & z & vx & vy & vz & R & V \\
 &  & $\mathrm{kpc}$ & $\mathrm{kpc}$ & $\mathrm{kpc}$ & $\mathrm{km\,s^{-1}}$ & $\mathrm{km\,s^{-1}}$ & $\mathrm{km\,s^{-1}}$ & $\mathrm{kpc}$ & $\mathrm{km\,s^{-1}}$ \\
MW_000 & disk & -2.07 & 2.95 & -1.45 & 0.94 & 6.32 & -1.35 & 3.88 & 6.53 \\
M31_000 & disk & -377.66 & 611.43 & -284.64 & 72.85 & -72.14 & 49.0 & 772.98 & 113.63 \\
M33_000 & disk & -476.22 & 491.44 & -412.4 & 44.42 & 101.78 & 142.23 & 798.98 & 180.45 \\
\end{tabular}
\end{table}

Pull out the MW data, position in the $x,y,z$ columns and velocity in $vx,vy,vz$:

In [5]:
MW_COM = COMs['name'=='MW_000']
MW_position = MW_COM['x','y','z']
MW_velocity = MW_COM['vx','vy','vz']
display(MW_position)
display(MW_velocity)

<Row index=0>
   x       y       z
  kpc     kpc     kpc
float64 float64 float64
------- ------- -------
  -2.07    2.95   -1.45

<Row index=0>
   vx      vy      vz
 km / s  km / s  km / s
float64 float64 float64
------- ------- -------
   0.94    6.32   -1.35

## Relative position and velocity

We are asked about the MW-M31 pair in question 6.2 and M31-M33 in 6.3. The `Galaxies.separations()` method returns a dictionary of various parameters:

In [6]:
MW_M31 = gals.separations('MW_000', 'M31_000')
M31_M33 = gals.separations('M31_000', 'M33_000')

In [7]:
MW_M31

{'pos_xyz': <Quantity [-375.59,  608.48, -283.19] kpc>,
 'vel_xyz': <Quantity [ 71.91, -78.46,  50.35] km / s>,
 'r': <Quantity 769.1 kpc>,
 'r_hat': <Quantity [-0.49,  0.79, -0.37]>,
 'vel_mag': <Quantity 117.74 km / s>,
 'v_radial': <Quantity -115.85 km / s>,
 'v_tangential': <Quantity [ 10.75,  -1.94, -18.36] km / s>,
 'v_tan_mag': <Quantity 21.36 km / s>}

Put some key results in a QTable for an easy-to-read display and generate $LaTeX$ from it:

In [8]:
t = QTable()
pairs = ('MW_M31', 'M31_M33')
t['pairs'] = pairs
t['Distance'] = (MW_M31['r'], M31_M33['r'])
t['Radial velocity'] = (MW_M31['v_radial'], M31_M33['v_radial'])
t['Tangential velocity'] = (MW_M31['v_tan_mag'], M31_M33['v_tan_mag'])
t

<QTable length=2>
 pairs  Distance Radial velocity Tangential velocity
          kpc         km / s            km / s
  str7  float64      float64           float64
------- -------- --------------- -------------------
 MW_M31    769.1         -115.85               21.36
M31_M33   201.08         -150.09              132.69

In [9]:
ascii.write(t, format='latex')

\begin{table}
\begin{tabular}{cccc}
pairs & Distance & Radial velocity & Tangential velocity \\
 & $\mathrm{kpc}$ & $\mathrm{km\,s^{-1}}$ & $\mathrm{km\,s^{-1}}$ \\
MW_M31 & 769.1 & -115.85 & 21.36 \\
M31_M33 & 201.08 & -150.09 & 132.69 \\
\end{tabular}
\end{table}

Making another table with the 3-vectors seemed like a good idea at the time. It wasn't, the results are horrible (despite rounding to 2 decimal places)!

In [10]:
t2 = QTable()
t2['pairs'] = pairs
t2['Relative Position'] = (MW_M31['pos_xyz'], M31_M33['pos_xyz'])
t2['Relative Velocity'] = (MW_M31['vel_xyz'], M31_M33['vel_xyz'])
t2

<QTable length=2>
 pairs      Relative Position [3]               Relative Velocity [3]
                     kpc                                km / s
  str7             float64                             float64
------- ------------------------------ ----------------------------------------
 MW_M31 -375.59000000000003 .. -283.19                           71.91 .. 50.35
M31_M33  -98.56 .. -127.75999999999999 -28.429999999999993 .. 93.22999999999999

Just display individual 3-vectors, first the MW-M31 pair (position and velocity), then M31-M33:

In [11]:
display(MW_M31['pos_xyz'])
display(MW_M31['vel_xyz'])

In [12]:
display(M31_M33['pos_xyz'])
display(M31_M33['vel_xyz'])

The result of the discussion is in the PDF document in this directory.