# Homework 4

## Setup

In [1]:
# import modules
import numpy as np
from numpy.linalg import norm
import astropy.units as u
from astropy.table import QTable
from astropy.io import ascii

from galaxies import Galaxies

Get data for all three galaxies:

In [2]:
gals = Galaxies()

## COM position and velocity

In [4]:
COMs = gals.get_COMs(ptypes=(2,))
COMs

<QTable length=3>
  name  ptype    x       y       z       vx      vy      vz      R       V
                kpc     kpc     kpc    km / s  km / s  km / s   kpc    km / s
  str7   str4 float64 float64 float64 float64 float64 float64 float64 float64
------- ----- ------- ------- ------- ------- ------- ------- ------- -------
 MW_000  disk   -2.07    2.95   -1.45    0.94    6.32   -1.35    3.88    6.53
M31_000  disk -377.66  611.43 -284.64   72.85  -72.14    49.0  772.98  113.63
M33_000  disk -476.22  491.44  -412.4   44.42  101.78  142.23  798.98  180.45

In [21]:
ascii.write(COMs, format='latex')

\begin{table}
\begin{tabular}{cccccccccc}
name & ptype & x & y & z & vx & vy & vz & R & V \\
 &  & $\mathrm{kpc}$ & $\mathrm{kpc}$ & $\mathrm{kpc}$ & $\mathrm{km\,s^{-1}}$ & $\mathrm{km\,s^{-1}}$ & $\mathrm{km\,s^{-1}}$ & $\mathrm{kpc}$ & $\mathrm{km\,s^{-1}}$ \\
MW_000 & disk & -2.07 & 2.95 & -1.45 & 0.94 & 6.32 & -1.35 & 3.88 & 6.53 \\
M31_000 & disk & -377.66 & 611.43 & -284.64 & 72.85 & -72.14 & 49.0 & 772.98 & 113.63 \\
M33_000 & disk & -476.22 & 491.44 & -412.4 & 44.42 & 101.78 & 142.23 & 798.98 & 180.45 \\
\end{tabular}
\end{table}

In [14]:
MW_COM = COMs['name'=='MW_000']
MW_position = MW_COM['x','y','z']
MW_velocity = MW_COM['vx','vy','vz']
display(MW_position)
display(MW_velocity)

<Row index=0>
   x       y       z
  kpc     kpc     kpc
float64 float64 float64
------- ------- -------
  -2.07    2.95   -1.45

<Row index=0>
   vx      vy      vz
 km / s  km / s  km / s
float64 float64 float64
------- ------- -------
   0.94    6.32   -1.35

## Relative position and velocity

In [16]:
MW_M31 = gals.separations('MW_000', 'M31_000')
M31_M33 = gals.separations('M31_000', 'M33_000')

In [17]:
MW_M31

{'pos_xyz': <Quantity [-375.59,  608.48, -283.19] kpc>,
 'vel_xyz': <Quantity [ 71.91, -78.46,  50.35] km / s>,
 'r': <Quantity 769.1 kpc>,
 'r_hat': <Quantity [-0.49,  0.79, -0.37]>,
 'vel_mag': <Quantity 117.74 km / s>,
 'v_radial': <Quantity -115.85 km / s>,
 'v_tangential': <Quantity [ 10.75,  -1.94, -18.36] km / s>,
 'v_tan_mag': <Quantity 21.36 km / s>}

In [19]:
t = QTable()
pairs = ('MW_M31', 'M31_M33')
t['pairs'] = pairs
t['Distance'] = (MW_M31['r'], M31_M33['r'])
t['Radial velocity'] = (MW_M31['v_radial'], M31_M33['v_radial'])
t['Tangential velocity'] = (MW_M31['v_tan_mag'], M31_M33['v_tan_mag'])
t

<QTable length=2>
 pairs  Distance Radial velocity Tangential velocity
          kpc         km / s            km / s
  str7  float64      float64           float64
------- -------- --------------- -------------------
 MW_M31    769.1         -115.85               21.36
M31_M33   201.08         -150.09              132.69

In [20]:
ascii.write(t, format='latex')

\begin{table}
\begin{tabular}{cccc}
pairs & Distance & Radial velocity & Tangential velocity \\
 & $\mathrm{kpc}$ & $\mathrm{km\,s^{-1}}$ & $\mathrm{km\,s^{-1}}$ \\
MW_M31 & 769.1 & -115.85 & 21.36 \\
M31_M33 & 201.08 & -150.09 & 132.69 \\
\end{tabular}
\end{table}

In [24]:
t2 = QTable()
t2['pairs'] = pairs
t2['Relative Position'] = (MW_M31['pos_xyz'], M31_M33['pos_xyz'])
t2['Relative Velocity'] = (MW_M31['vel_xyz'], M31_M33['vel_xyz'])
t2

<QTable length=2>
 pairs      Relative Position [3]               Relative Velocity [3]
                     kpc                                km / s
  str7             float64                             float64
------- ------------------------------ ----------------------------------------
 MW_M31 -375.59000000000003 .. -283.19                           71.91 .. 50.35
M31_M33  -98.56 .. -127.75999999999999 -28.429999999999993 .. 93.22999999999999

In [27]:
display(MW_M31['pos_xyz'])
display(MW_M31['vel_xyz'])

In [29]:
display(M31_M33['pos_xyz'])
display(M31_M33['vel_xyz'])